<form class="grid grid-col-1 md:grid-cols-2 gap-4 mt-4">
    <div>
        
        <label class="flex flex-col ml-6">
            <span class="mb-1 font-medium">Tipo de fraude:</span>

            <select
                name=""
                required
                class="border borde-(--borda-cinza) rounded-sm px-2 py-1 h-8 lg:h-10 text-sm"
            >
                @for(item of opcoesFraude; track item) {
                    <option value="item.sigla">{{ item.nome }}</option>
                }
            </select>
        </label>
    </div>

    <div>
        <label class="flex flex-col mr-6">
            <span class="mb-1 font-medium">Tipo de fraude:</span>
            <p-datepicker 
                [(ngModel)]="date"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                placeholder="Selecione o período"
                [style]="{'width': '100%'}"
                [inputStyle]="{
                    'width': '100%',
                    'height': window.innerWidth >= 1024 ? '40px' : '32px',
                    'border-radius': '4px',
                    'border': '1px solid #333333',
                    'padding': '0.25rem 0.5rem',
                    'font-size': '0.875rem'
                }"
                inputId="range"
                name="range"
                class="w-full"
            />
        </label>
    </div>
</form>