<body class="container-secundario flex flex-col pt-12">
    <app-titulo-principal [titulo]="conteudoTitulo" [descricao]="conteudoDescricao"></app-titulo-principal>

    <app-barra-de-progressao [etapaAtual]="3"></app-barra-de-progressao>

    <section class="flex flex-col gap-4">
        <h1 class="text-xl lg:text-2xl font-bold text-(--cor-principal)">3. Consentimento do uso das informações</h1>

        <div class="flex flex-col">
            <div class="bg-[#FBFBFB] rounded-lg shadow-md p-4 max-h-52 overflow-y-auto text-black text-sm leading-relaxed mx-4 md:mx-8 lg:mx-12">
                O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente...
                O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente...
                O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente...
            </div>
        </div>

        <div class="flex flex-col gap-4 mx-4 md:mx-8 lg:mx-12">
            <div class="flex items-start gap-3">
                <div>
                    <input
                        type="checkbox"
                        [(ngModel)]="autorizaRelato"
                        (change)="verificarConsentimentos()"
                        class="accent-[var(--cor-principal)] w-4 h-4 lg:w-5 lg:h-5 mt-1"
                    />
                </div>

                <span class="text-sm">
                    Ao enviar este formulário, em caso de fraude comprovada, autorizo o encaminhamento de relato para as autoridades competentes
                </span>
            </div>

            <div class="flex items-start gap-3">
                <div>
                    <input
                        type="checkbox"
                        [(ngModel)]="concordaPrivacidade"
                        (change)="verificarConsentimentos()"
                        class="accent-[var(--cor-principal)] w-4 h-4 lg:w-5 lg:h-5 mt-1"
                    />
                </div>

                <span class="text-sm">
                    Ao enviar este relato, concordo com o uso das informações conforme o Aviso de Privacidade
                </span>
            </div>
        </div>

        <div class="flex justify-between items-center my-4 mx-6">
            <div
                type="submit"
                class="border borde-(--cor-principal) text-(--cor-principal) rounded px-4 py-2 mt-2 hover:bg-blue-700 transition-colors"
                routerLink="{{[urlDeRetornoValor]}}"
            >
                Anterior
            </div>

            <div
                type="submit"
                class="bg-(--cor-principal) text-white rounded px-4 py-2 mt-2 hover:bg-blue-700 transition-colors cursor-pointer"
                (click)="verificarEProsseguir()"
            >
                Próxima 
            </div>
        </div>

        <div 
            *ngIf="mostrarModal"
            class="fixed inset-0 z-50 flex items-center justify-center bg-black/40"
        >
            <div class="bg-white rounded-xl p-8 w-[90%] md:w-[30rem] lg:w-[40rem] max-w-md">
                <div class="flex flex-col items-center text-center gap-2">
                    <img src="icons/alerta-2.svg" alt="" class="w-12 h-12 lg:w-16 lg:h-16">
                    
                    <h2 class="text-xl lg:text-2xl font-bold">Usuário Anônimo</h2>
                    
                    <p class="text-gray-600 lg:text-lg">
                        Ao selecionar a opção de “Anonimato”, o relato necessitará de uma maior precisão devido a carência de informações para contato e devolutivas.
                    </p>
                    
                    <button
                        (click)="fecharModal()"
                        class="border border-(--cor-principal) text-(--cor-principal) px-8 py-2 mt-2 rounded-lg font-medium shadow-md lg:text-lg"
                    >
                        Entendi
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>
