<div class="flex items-center justify-center w-full my-6">
    @switch (etapaAtual) {
        @case (1) {
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
                <div class="w-12 md:w-24 h-1 bg-blue-100"></div>
            </div>
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-blue-100 border-4 border-blue-100"></div>
                <div class="w-12 md:w-24 h-1 bg-blue-100"></div>
            </div>
            <div>
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-blue-100 border-4 border-blue-100"></div>
            </div>
        }
        @case (2) {
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
                <div class="w-12 md:w-24 h-1 bg-(--cor-principal)"></div>
            </div>
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
                <div class="w-12 md:w-24 h-1 bg-blue-100"></div>
            </div>
            <div>
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-blue-100 border-4 border-blue-100"></div>
            </div>
        }
        @case (3) {
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
                <div class="w-12 md:w-24 h-1 bg-(--cor-principal)"></div>
            </div>
            <div class="flex items-center">
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
                <div class="w-12 md:w-24 h-1 bg-(--cor-principal)"></div>
            </div>
            <div>
                <div class="w-6 h-6 md:w-8 md:h-8 rounded-full bg-(--cor-principal) border-4 border-[var(--cor-principal)]"></div>
            </div>
        }
    }
</div>