<body [ngClass]="getAnonimo() ? 'container-anonimo' : 'container-principal'" class="py-12">
    <section [ngClass]="getAnonimo() ? 'lg:shadow-md lg:bg-(--cor-cinza-claro) rounded-sm py-8' : ''" class="flex flex-col">

        <app-titulo-principal [titulo]="conteudoTitulo" [descricao]="conteudoDescricao"></app-titulo-principal>
    
        <app-barra-de-progressao [etapaAtual]="1"></app-barra-de-progressao>
    
        <div [ngClass]="getAnonimo() ? 'lg:px-22' : 'lg:px-0'">
            <h1 class="text-xl lg:text-2xl font-bold text-(--cor-principal)">1. Identificação do Relatante</h1>
            
            <div [ngClass]="!getAnonimo() ? 'flex flex-col lg:flex-row lg:gap-6' : 'flex flex-col lg:gap-2'" class=" lg:items-center my-4 md:mx-6">
                <h3 class="lg:text-lg font-medium">Deseja manter o anonimato?</h3>
    
                <div class="flex justify-center items-center gap-4 mt-2 lg:mt-0">
                    <button
                        (click)="selecionarAnonimato(true)"
                        [ngClass]="getAnonimo() ? 'bg-[var(--cor-principal)] text-white' : 'border border-[var(--cor-principal)] text-[var(--cor-principal)]'"
                        class="rounded-lg py-1 px-8 cursor-pointer transition-colors"
                    > 
                        Sim 
                    </button>
                    
                    <p>ou</p>
    
                    <button
                        (click)="selecionarAnonimato(false)"
                        [ngClass]="!getAnonimo() ? 'bg-[var(--cor-principal)] text-white' : 'border border-[var(--cor-principal)] text-[var(--cor-principal)]'"
                        class="rounded-lg py-1 px-8 cursor-pointer transition-colors"
                    >
                        Não
                    </button>
                </div>
            </div>
    
            <div 
                *ngIf="mostrarModal"
                class="fixed inset-0 z-50 flex items-center justify-center bg-black/40"
            >
                <div class="bg-white rounded-xl p-8 w-[90%] md:w-[30rem] lg:w-[40rem] max-w-md">
                    <div class="flex flex-col items-center text-center gap-2">
                        <img src="icons/alerta-2.svg" alt="" class="w-12 h-12 lg:w-16 lg:h-16">
                        
                        <h2 class="text-xl lg:text-2xl font-bold">Usuário Anônimo</h2>
                        
                        <p class="text-gray-600 lg:text-lg">
                            Ao selecionar a opção de “Anonimato”, o relato necessitará de uma maior precisão devido a carência de informações para contato e devolutivas.
                        </p>
                        
                        <button
                            (click)="fecharModal()"
                            class="border border-(--cor-principal) text-(--cor-principal) px-8 py-2 mt-2 rounded-lg font-medium shadow-md lg:text-lg"
                        >
                            Entendi
                        </button>
                    </div>
                </div>
            </div>
    
            <form (ngSubmit)="enviarFormulario()">
                @switch (getAnonimo()) {
                    @case (true) {
                        <app-campos-cidade-estado [selecaoCidade]="cidade" [selecaoEstado]="estado" ></app-campos-cidade-estado>
                    }
                    @case (false) {
                        <h1 class="text-xl lg:text-2xl font-medium">Informe seus dados abaixo:</h1>
    
                        <app-campos-dados-de-usuario 
                            [(nome)]="nome" 
                            [(cpf)]="cpf" 
                            [(email)]="email" 
                            [(telefone)]="telefone" 
                            [(cep)]="cep"
                            [(cidade)]="cidade"
                            [(estado)]="estado"
                        ></app-campos-dados-de-usuario>
                    }
                }
            </form>  
    
            <app-campo-vitma-da-fraude [isAnonimo]="getAnonimo()"></app-campo-vitma-da-fraude>
    
            <app-botoes-de-navegacao [urlDeRetorno]="urlDeRetornoValor" [urlDeProximo]="urlDeProximoValor"></app-botoes-de-navegacao>
        </div>
    </section>
</body>
