<div class="flex justify-between items-center my-4 mx-6">
    <div
        type="submit"
        class="border borde-(--cor-principal) text-(--cor-principal) rounded px-4 py-2 mt-2 hover:bg-blue-700 transition-colors"
        routerLink="{{[urlDeRetorno]}}"
    >
        Anterior
    </div>

    <div
        type="submit"
        class="bg-(--cor-principal) text-white rounded px-4 py-2 mt-2 hover:bg-blue-700 transition-colors"
        routerLink="{{[urlDeProximo]}}"
    >
        Próxima 
    </div>
</div>