<body class="container-secundario flex flex-col pt-12">
    <app-titulo-principal [titulo]="conteudoTitulo" [descricao]="conteudoDescricao"></app-titulo-principal>

    <app-barra-de-progressao [etapaAtual]="2"></app-barra-de-progressao>

    <section>
        <h1 class="text-xl lg:text-2xl font-bold text-(--cor-principal)">2. Informações sobre o relato</h1>

        <div class="flex flex-col gap-6">
            <app-formulario></app-formulario>

            <app-sistema-relacionado></app-sistema-relacionado>

            <app-campo-ciencia-relato></app-campo-ciencia-relato>

            <app-botoes-de-navegacao [urlDeRetorno]="urlDeRetornoValor" [urlDeProximo]="urlDeProximoValor"></app-botoes-de-navegacao>
        </div>
    </section>
</body>
