@import "tailwindcss";

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-100i.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-400i.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rawline';
    src: url('/assets/fonts/rawline/rawline-700i.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


:root {
    --cor-principal: #155BBC;
    --cor-secundaria: ;
    --borda-cinza: #888888;
    --cor-cinza-claro: #FBFBFB;
    --cor-verde: #168821;
    --cor-laranja: #FF9C4A;
    --cor-vermelho: #D40000;
}

::ng-deep .customTimeline {
    .p-timeline-event-opposite {
        flex: 0;
        padding: 0 1rem;
    }
    
    .p-timeline-event-content {
        flex: 1;
        padding: 0 1rem;
    }

    .p-timeline-event-separator {
        margin: 0 0.5rem;
    }
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: 'Rawline', sans-serif;
        color: #333;
    }
}

.container-principal {
    max-width: 90%;
    margin: 0 auto;
}

.container-secundario {
    max-width: 90%;
    margin: 0 auto;
}

.container-anonimo {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .container-secundario {
        max-width: 80%;
    }

    .container-anonimo {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container-principal {
        max-width: 80%;
    }

    .container-secundario {
        max-width: 70%;
    }

    .container-anonimo {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    .container-principal {
        max-width: 90%;
    }

    .container-secundario {
        width: 50rem;
    }

    .container-anonimo {
        width: 40rem;
    }
}

@media (min-width: 1280px) {
    .container-principal {
        max-width: 70rem;
    }
}