@import "tailwindcss";

:root {
    --cor-principal: #155BBC;
    --cor-secundaria: ;
    --borda-cinza: #888888;
    --cor-cinza-claro: #FBFBFB;
    --cor-vermelho: #D40000;
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html {
        font-family: sans-serif;
        color: #333;
    }
}

.container-principal {
    max-width: 90%;
    margin: 0 auto;
}

.container-secundario {
    max-width: 90%;
    margin: 0 auto;
}

.container-anonimo {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .container-secundario {
        max-width: 80%;
    }

    .container-anonimo {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container-principal {
        max-width: 80%;
    }

    .container-secundario {
        max-width: 70%;
    }

    .container-anonimo {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    .container-principal {
        max-width: 90%;
    }

    .container-secundario {
        width: 50rem;
    }

    .container-anonimo {
        width: 40rem;
    }
}

@media (min-width: 1280px) {
    .container-principal {
        max-width: 70rem;
    }
}